@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');


:root {
    --nav-bar-color: #102241;
    --nav-bar-hover: #b7caef;
}

body {
    margin: 0;
    background-color: #e7fdfc;
}

.site-logo {
    height: 100%;
}

.site-logo-container {
    height: 55px;
    display: block;
    position: relative;
    left: 10px;
    transition: all 0.25s linear;
    padding: 5px;
}

#nav-bar {
    width: 100%;
    top: 0;
    background-color: var(--nav-bar-color);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 15px #9e8cca;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-item>a {
    height: 100%;
    font: 600 1rem "Delius", cursive;
    padding: 0 13px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff8da;
    transition: all 0.25s linear;
}

#nav-bar a:hover {
    background-color: var(--nav-bar-hover);
    box-shadow: 3px 0px 1px var(--nav-bar-hover), -3px 0px 1px var(--nav-bar-hover);
    color: black;
}

.title {
    text-align: center;
    font: 800 3rem "Delius", cursive;
    margin: 20px;
    color: #570480;
}

#main-duck-pic {
    max-width: 100%;
    width: 35vw;
    height: auto;
    position: relative;
    left: 20%;
    border: 1px solid black;
    border-radius: 5px;
}

.speech-container {
    position: relative;
    display: grid;
    float: right;
    right: 19vw;
    top: 30vh;
    width: 30vw;
}

.speech-bubble, .speech {
    grid-column: 1;
    grid-row: 1;
}

.speech {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    transform: translate(0, -7vh);
}

.speech span {
    font: 400 1.5rem "Finger Paint", sans-serif;
}

.main-page-footer {
    text-align: center;
    font: 400 1.5rem "Delius", cursive;
    margin: 15px;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
    overflow: hidden;
    padding: 50px;
    padding-top: 5px;
}

.gallery-image {
    width: 100%;
    display: block;
    border-radius: 15px;
    background-color: #dcd9e2;
    transition: linear 0.2s;
}

.gallery-image:hover {
    box-shadow: 0 -2px 5px #bdb6cf;
}

/* Raccoon */
.raccoon-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Easter Duck */
.easter-duck-title {
    font: 400 1.5rem "Finger Paint", sans-serif;
    color: #080374;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

.easter-duck-title img {
    width: 3vw;
}

.easter-title-container {
    display: inline-block;
    margin: 3px;
}

.easter-duck-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}

.button-container button {
    background-color: #f8dada;
    margin: 0px 5px 0px 5px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #bd9a9a;
    font: 400 1.5rem "Englebert", cursive;
    transition: linear 0.2s;
}

.button-container, .flower-handing {
    width: 25vw;
}

.button-container button:hover {
    background-color: #ffb6dd;
}
